/*  your css code here. If applicable */
#yellow{
	background: yellow;
	border-width: 1px green;
	border-style: solid;
}

#red{
	background: red;
	border: 1px black solid;
}

#green{
	background: green;
	border: 1px yellow solid;
}